<% include ../partials/header %>

<div class="container">
  <h1 class="text-center py-5">
    Make some Changes 😉😎😋.
  </h1>
    <form action="/inventory/<%= inventory._id %>?_method=PUT" method="POST">
        <div class="form-group">
           <label for="Item">Item:</label>
           <input class="form-control" type="text" name="inventory[item]" value="<%= inventory.item %>" required>
        </div>
        <div class="form-group">
           <label for="author">Store Keeper:</label>
           <input class="form-control" type="text" name="inventory[storeKeeper]" value="<%= inventory.storeKeeper %>" required>
        </div>
        <div class="form-group">
           <label for="Item">Status:</label>
           <input class="form-control" type="text" name="inventory[status]" value = "<%= inventory.status %>" required>
        </div>
        <div class="form-group">
           <label for="Item">Quantity:</label>
           <input class="form-control" type="number" name="inventory[quantity]" value="<%= inventory.quantity %>" required>
        </div>
        <div class="form-group">
           <label for="Item">Price:</label>
           <input class="form-control" type="number" name="inventory[price]" value = "<%= inventory.price %>" required>
        </div>
        <div class="form-group">
           <button type="Submit">Submit</button>
        </div>
    </form>
    <a href="/inventory">Go Back</a>
</div>

<% include ../partials/footer %>