<% include ../partials/header %>

<div class="container d-flex justify-content-center">
   <h1>Whats New In the Store? 😊</h1>
</div>
<div class="container d-flex justify-content-center">
  <a href="/inventory/new" type="button" class="btn btn-info">Whats New</a>
</div>

<div class="container d-flex py-3 mx-auto justify-content-center">
  <div style="overflow-x:auto;">
      <table>
        <thead>
          <tr>
            <th scope="col" class="text-justify" colspan="2">Item</th>
            <th scope="col">Qty</th>
            <th class="text-center" scope="col">Price</th>
            <th class="text-center" scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <% var quant = [], price = []; %>

          <% inventory.forEach(function(stuff){ %>
          <tr>
            <td>
              <strong class="book-title"><%= stuff.item %></strong>
              <span class="text-offset">by <%= stuff.storeKeeper %></span>
            </td>
            <td class="item-stock"><%= stuff.status %></td>
            <td class="item-qty"><%= stuff.quantity %> ✖</td>
            <% quant.push(stuff.quantity) %>
            <td class="item-price"> $<%= stuff.price %></td>
            <% price.push(stuff.price) %>
            <td class="item-price text-center"><a href="/inventory/<%= stuff._id %>">More</a></td>
          </tr>
          <% }); %>

          <% var quantm = quant.map(function(i) { %>
              <% return parseInt(i, 10); %>
          <% }) %>

          <% var pricem = price.map(function(i) { %>
              <% return parseInt(i, 10); %>
          <% }) %>
          
          <% var sum = 0 %>
          <% for(i = 0; i < quantm.length; i++) {sum += quantm[i] * pricem[i]} %>
          
          <% var quantmr = quantm.reduce(function(a, b) {return a + b; }, 0)%>
          <% var pricemr = pricem.reduce(function(a, b) {return a + b; }, 0)%>

          <% var perce = (0.1 * sum) %>

          <% var perc = perce.toFixed(2); %>

          <% var total = (sum - perc) %>

        </tbody>
        <tfoot>
          <tr class="text-offset">
            <td colspan="3">Subtotal</td>
            <td>$<%= sum %></td>
          </tr>
          <tr class="text-offset">
            <td colspan="3">Tax</td>
            <td> - $<%= perc %></td>
          </tr>
          <tr>
            <td colspan="3">Total</td>
            <td>$<%= total %></td>
          </tr>
        </tfoot>
      </table>
   </div>   
</div>

</body>
</html>

<% include ../partials/footer %>

